---
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
{% for platform in meta.galaxy_info.platforms %}
{% if platform.name == "Alpine" %}
    - image="alpine"
    - image="alpine" tag="edge"
{% endif %}
{% if platform.name =="ArchLinux" %}
    # - namespace="archlinux" image="base"
{% endif %}
{% if platform.name =="Debian" %}
    - image="debian" tag="stable"
    - image="debian" tag="unstable"
    - image="debian"
{% endif %}
{% if platform.name == "OpenSUSE" %}
    - image="opensuse"
{% endif %}
{% if platform.name == "Ubuntu" %}
    - image="ubuntu" tag="rolling"
    - image="ubuntu" tag="devel"
    - image="ubuntu"
{% endif %}
{% if platform.name == "EL" %}
{% for version in platform.versions %}
{% if version != 8 %}
    - image="centos" tag="{{ version }}"
    - image="redhat" tag="{{ version }}"
{% else %}
    - image="centos"
    - image="redhat"
{% endif %}
{% endfor %}
{% endif %}
{% if platform.name == "Fedora" %}
    - image="fedora"
    - image="fedora" tag="rawhide"
{% endif %}
{% endfor %}

matrix:
  allow_failures:
{% for platform in meta.galaxy_info.platforms %}
{% if platform.name == "Alpine" %}
    - env: image="alpine" tag="edge"
{% endif %}
{% if platform.name =="Debian" %}
    - env: image="debian" tag="unstable"
{% endif %}
{% if platform.name == "Fedora" %}
    - env: image="fedora" tag="rawhide"
{% endif %}
{% if platform.name == "Ubuntu" %}
    - env: image="ubuntu" tag="rolling"
    - env: image="ubuntu" tag="devel"
{% endif %}
{% endfor %}

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "{{ travis.notifications.slack.secure }}"
  email: false
